.upload-wrapper {
  width: 100%;
}

.image-preview {
  width: 100%;
}

.image-list {
  margin-top: 10px;
}

.floating-delete{
  display: inline-block;
  position: relative;
  top: -30px;
  right: 20px;
}