.list {
  width: 100%;
}

table {
  width: 100%;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 5px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 5px;
}

.mat-column-play {
  width: 32px;
  text-align: center;
  cursor: pointer;
}

.mat-column-edit {
  width: 32px;
  text-align: center;
  cursor: pointer;
}

.mat-column-delete {
  width: 32px;
  text-align: right;
  cursor: pointer;
}

.label-editor{
  width: 95%;
}