.block {
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 10px;
}

.compass-container {
  text-align: center;
  flex-basis: 60px;
}

.compass-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: whitesmoke;
}

.compass {
}

.mat-icon{
  width: 50px;
  height: 50px;
}

.position {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bolder;
}

.position-value{
  text-align: right;
  color: whitesmoke;
}

.container {
  display: flex;
}

.child {
  flex: 1;
}

.child:first-child {
  margin-right: 10px;
}
