<h2 mat-dialog-title>Upload a realm file</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <!-- Fetch selected filed on change -->
    <input
      type="file"
      #fileInput
      id="uploadFile"
      (change)="uploadFileEvt($event)"
      name="uploadFile"
      accept="application/JSON"
    />
  </div>
  <div class="confirm-message" *ngIf="realm">
    <p>
      Realm <b>{{realm.name}}</b> will override your current realm. are you sure?
    </p>
    <p>
      <button mat-raised-button (click)="import()" cdkFocusInitial>YES</button>  
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="close()" cdkFocusInitial>CLOSE</button>
</mat-dialog-actions>
