.container{
    margin-left: 20px;
}

.top{
    margin-bottom: 20px;
}

.loading{
    width: 100%;
}

.blockly{
    width: 100%;
}

.magic-courtain{
    height: 42000px;
    width: 100%;
    z-index: 42000;
}