<div class="container">
  <div class="top">
    <h1>Edit code</h1>
    <button mat-raised-button [disabled]="!dirty" (click)="apply()">APPLY</button>
  </div>
  <div *ngIf="loading" class="loading">
    <h2>Loading code</h2>
    <mat-progress-bar class="progress" mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="loading" class="magic-courtain"></div>

  <app-code-blockly 
    [definition]="request.codeDefinition"
    (codeChanged)="changed($event)"
    [onReady]="onReady"
  ></app-code-blockly>
</div>
