.drawer-left {
  min-width: 300px;
  width: 5%;
  left: 0;
}

.toogle {
  z-index: 5;
  right: 0%;
  top: 1%;
}

.mat-drawer-container {
  height: 100%;
  width: 100%;
}

.sidenav-container {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.panel-icon {
  margin-right: 20px;
}

.panel {
  margin-bottom: 10px;
}

.editor-toolbar {
  position: absolute;
  width: 600px;
  bottom: 5px;
  right: 50%;
  left: 50%;
  z-index: 100;
}
