<mat-drawer-container>
  <mat-sidenav
    #drawer
    mode="side"
    opened="true"
    position="start"
    class="drawer-left"
  >
    <div class="sidenav-container">
      <button mat-raised-button class="mr-2 mt-2" (click)="download()">
        <mat-icon>save</mat-icon>DOWNLOAD
      </button>
      <button mat-raised-button class="mr-2 mt-2" (click)="upload()">
        <mat-icon>upload</mat-icon>UPLOAD
      </button>
      <button mat-raised-button class="mr-2 mt-2" (click)="send()">
        <mat-icon>send</mat-icon>SEND
      </button>
    </div>
  </mat-sidenav>

  <section>
    <button mat-raised-button class="toogle" (click)="toggle()">
      TOGGLE
<!-- TOGGLE      <mat-icon svgIcon="arrow"></mat-icon> -->
    </button>
    <app-renderer *ngIf="ready"></app-renderer>

  </section>
</mat-drawer-container>
