<mat-drawer-container>
  <mat-sidenav
    #drawer
    mode="side"
    opened="true"
    position="start"
    class="drawer-left"
  >
    <div class="sidenav-container">
      <p>
        Current Realm: <b>{{ name }}</b>
      </p>

      <mat-expansion-panel class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="panel-icon">house</mat-icon>Realm
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-realm-toolbar></app-realm-toolbar>
      </mat-expansion-panel>

      <mat-expansion-panel class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="panel-icon">cloud</mat-icon>Multiplayer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-connect></app-connect>
      </mat-expansion-panel>

      <mat-expansion-panel class="panel" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="panel-icon">code</mat-icon>Code
          </mat-panel-title>
        </mat-expansion-panel-header>
       <app-code-library></app-code-library>
      </mat-expansion-panel>      

      <mat-expansion-panel class="panel" [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="panel-icon">image</mat-icon>Images
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-images-library></app-images-library>
      </mat-expansion-panel>

      <mat-expansion-panel class="panel" [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="panel-icon">music_note</mat-icon>Sounds
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-audio-library></app-audio-library>
      </mat-expansion-panel>

      <mat-expansion-panel class="panel" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="panel-icon">mode_edit</mat-icon>Editor
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-editor-toolbar></app-editor-toolbar>
      </mat-expansion-panel>

      <div class="panel">version: {{ version }}</div>
    </div>
  </mat-sidenav>

  <section>
    <button mat-raised-button class="toogle" (click)="toggle()">TOGGLE</button>
    <app-renderer *ngIf="ready"></app-renderer>
  </section>

  <mat-sidenav
    #drawerRight
    mode="side"
    opened="false"
    position="right"
    class="drawer-right"
  >
    <div>
      <app-code-panel></app-code-panel>
    </div>
  </mat-sidenav>
</mat-drawer-container>

<div class="mode-toolbar">
  <app-editor-mode-picker></app-editor-mode-picker>
</div>
