<div>
  <mat-form-field appearance="fill">
    <mat-label>Choose a Library</mat-label>
    <mat-select (selectionChange)="selectedLibrary($event)">
      <mat-option
        *ngFor="let library of libraries"
        [value]="library.components"
        >{{ library.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>

<div>
  <button
    mat-raised-button
    *ngFor="let component of selected"
    aria-label="{{ component.name }}"
    (click)="use(component)"
  >
    <img width="50" height="50" [src]="component.icon" />
  </button>
</div>
