<mat-button-toggle-group value="walk">
  <mat-button-toggle (click)="walk()" value="walk">WALK</mat-button-toggle>
  <mat-button-toggle (click)="add()" value="add">ADD</mat-button-toggle>
  <mat-button-toggle (click)="edit()" value="edit">EDIT</mat-button-toggle>
</mat-button-toggle-group>
<div *ngIf="mode == 'edit'">
  <div>
    <button mat-raised-button (click)="code()">CODE</button>
  </div>
  <div>
    <mat-button-toggle-group value="rotate">
      <mat-button-toggle (click)="rotate()" value="rotate"
        >ROTATE</mat-button-toggle
      >
      <mat-button-toggle (click)="scale()" value="scale"
        >SCALE</mat-button-toggle
      >
      <mat-button-toggle (click)="moveX()" value="moveX"
        >LEFT</mat-button-toggle
      >
      <mat-button-toggle (click)="moveY()" value="moveY"
        >FAR</mat-button-toggle
      >
      <mat-button-toggle (click)="moveZ()" value="moveZ"
        >UP</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <div>
    <button mat-raised-button (click)="editPlus()">+</button>
    <button mat-raised-button (click)="editMinus()">-</button>
  </div>
  <div>
    <button mat-raised-button (click)="delete()">DELETE</button>
  </div>
</div>
