.mat-button-toggle-group {
  overflow: visible;
}

.mat-button-toggle {
  margin-top: 20px;
}

.modify-container {
  margin-top: 10px;
}

.delete-container {
  margin-top: 10px;
  margin-left: 10px;
}

.mat-button-toggle-group-appearance-standard {
  border: none;
}
