.mat-button-toggle-group {
  overflow: visible;
}

.mat-button-toggle {
  margin-left: 10px;
}

.modify-container {
  margin-top: 10px;
}

.up-down-container {
  margin-top: 10px;
}

.up-down-button {
  margin-left: 10px;
}

.delete-container {
  margin-top: 10px;
  margin-left: 10px;
}


// .mat-badge-content{
//   right: -25px;
// }